*~
/.zanata-cache/etag-cache.xml
/admin/ar-lib
/admin/compile
/admin/config.guess
/admin/config.rpath
/admin/config.sub
/admin/depcomp
/admin/install-sh
/admin/missing
/autom4te.cache
/man/ja/Makefile.in
/m4
/po/*.gmo
/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/en@boldquot.header
/po/en@quot.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/ABOUT-NLS
/Makefile.in
/aclocal.m4
/config.h.in
/configure
/INSTALL

/build
